<section
    style="{% if section.settings.bg-image %} background-image: url('{{section.settings.bg-image | image_url}}'); background-size: cover; background-position: 50% 50%; {% else %} background: black; {% endif %}"
    class="no-pad craftmanship__section">
    <div class="craftmanship">
        <h2 style="color: {{section.settings.text-color}}">{{section.settings.heading-1}}</h2>
        <h3 style="color: {{section.settings.text-color}}">{{section.settings.heading-2}}</h3>
        <div class="grid-12 craftmanship__grid">
            {% for block in section.blocks %}
            <div class="craftmanship__item">
                <div class="craftmanship__item-img">
                    <img src="{{block.settings.icon | image_url }}" alt="{{block.settings.heading-1}} icon image" />
                </div>
                <h3 style="color: {{section.settings.text-color}}">{{block.settings.heading-1}}</h3>
                <h4 style="color: {{section.settings.text-color}}">{{block.settings.heading-2}}</h4>
            </div>
            {% endfor %}
            <div class="craftmanship__btn">
                <div class="craftmanship__btn-inner">
                    {% render 'swipe-btn' %}
                </div>
            </div>
        </div>
    </div>
</section>

{% schema %}
{
"name": "Quality Section",
"settings": [
{
"id": "heading-1",
"type": "text",
"label": "Heading 1",
"default": "Quality Craftmanship"
},
{
"id": "heading-2",
"type": "text",
"label": "Subheading",
"default": "Expertly handcrafted in the UK by master tailors. Engineered to last the test of time and trend."
},
{
"id": "bg-image",
"type": "image_picker",
"label": "Background Image"
},
{
"id": "text-color",
"type": "color",
"label": "Text Colour",
"default": "#fff"
},
{
"id": "cta-text",
"type": "text",
"label": "CTA Text",
"default": "Find Out More"
},
{
"id": "cta-url",
"type": "url",
"label": "CTA Link",
"default": "/"
}
],
"blocks": [
{
"type": "item",
"name": "Item",
"settings": [
{
"type": "image_picker",
"id": "icon",
"label": "Icon"
},
{
"type": "text",
"id": "heading-1",
"label": "Heading 1"
},
{
"type": "text",
"id": "heading-2",
"label": "Heading 2"
}
]
}
]
}
{% endschema %}