<footer>
  <div class="footer__inner">
    <div class="footer__news">
      <h2>Join Our Newsletter</h2>
      <div class="footer__news-flex">
        <input class="input" placeholder="Join our newsletter" />
        <div class="news-btn">
            {% if section.settings.cta-background-color == 'transparent' or section.settings.cta-background-color ==
            null %}
            {% assign class = 'input-group-btn-trans_bg' %}
            {% endif %}
            <div class="input-group input-group-invert">
              <span style="
                {% if section.settings.cta-background-transparent != true %}
                background: {{section.settings.cta-background-color}};
                {% else %}
                background: transparent;
                {% endif %}
                box-shadow: inset 0 0 0 1px {{section.settings.cta-border-color}};" class="input-group-btn {{class}}">
                <a 
                style="display: flex; justify-content: center; align-items: center;"
                href="/">
                  <img 
                  style="filter: invert(1); "
                  src="https://cdn.shopify.com/s/files/1/0629/7888/3813/files/Vector_Smart_Object-arrow.png?v=1655128564" />
                </a>
                <input style="white-space:nowrap;text-transform:uppercase"
                value=" "
                type="submit"
                class="btn__mine">
              </span>
            </div>
        </div>
      </div>
    </div>
    <div class="footer__social">
      <h2>Follow Us On</h2>
      <div class="footer__social-flex">
        {% if settings.social_instagram_link != blank %}
        <a href="{{settings.social_instagram_link}}"><img alt="Instagram logo"
            src="https://cdn.shopify.com/s/files/1/0629/7888/3813/files/INSTSAGRAM.png?v=1652725701" /></a>
        {% endif %}
        {% if settings.social_facebook_link != blank %}
        <a href="{{settings.social_facebook_link}}"><img alt="Facebook logo"
            src="https://cdn.shopify.com/s/files/1/0629/7888/3813/files/Facebook.png?v=1652725711" /></a>
        {% endif %}
      </div>
    </div>
    <div class="footer__links">
      {% assign size = linklists.footer.links.size %}
      {% for link in linklists.footer.links %}
      {% if forloop.index > 6 %} {% assign col = 9 %} {% elsif forloop.index > 3 and forloop.index < 7 %} {% assign col = 5 %} {% else %} {% assign col = 1 %} {% endif %}
      {% if forloop.index == 1 or forloop.index == 4 or forloop.index == 7 %} {%assign row = 1%} {%elsif forloop.index == 2 or forloop.index == 5 or forloop.index == 8 %} {%assign row = 2%} {%else%} {%assign row=3%} {%endif%}
      <div 
      style="grid-column: {{col}} / span {{4}}; grid-row: {{row}} / span 1;"
      class="footer__links-item">
        <a href="{{link.url}}">
          {% if link.title == 'My Account' %}
          <img class="footer__horse" alt="My account icon"
            src="https://cdn.shopify.com/s/files/1/0629/7888/3813/files/horse_head.png?v=1652731212" />
          {% endif %}
          {{link.title}}
        </a>
      </div>
      {% endfor %}
    </div>
  </div>
  <div class="footer__payment">
    <h2>Payment Options</h2>
    <ul>
      {%- for type in shop.enabled_payment_types -%}
      <li>
        {{ type | payment_type_svg_tag: class: 'icon' }}
      </li>
      {%- endfor -%}
    </ul>
  </div>
  <div class="footer__copyright">
    © 2022 Asur Equestrian Ltd
  </div>

</footer>


{% schema %}
{
"name": "footer",
"settings": [
{
"id": "cta-background-color",
"type": "color",
"label": "CTA Background Colour",
"default": "#000"
},
{
"id": "cta-border-color",
"type": "color",
"label": "CTA Border Colour",
"default": "#fff"
},
{
"id": "cta-text",
"type": "text",
"label": "CTA Text",
"default": ">"
},
{
"id": "cta-url",
"type": "url",
"label": "CTA Link",
"default": "/"
}
]
}
{% endschema %}