<footer>
  <div class="footer__inner">
    <div class="footer__widgets">
      <div class="footer__news">
        <h2>Join Our Newsletter</h2>
        <div class="footer__news-flex">
          <input class="input" />
          <div class="news-btn">
            {% render "swipe-btn" %}
          </div>
        </div>
      </div>
      <div class="footer__social">
        <h2>Follow Us</h2>
        <div class="footer__social-flex">
          {% if settings.social_instagram_link != blank %}
          <a href="{{settings.social_instagram_link}}"><img src="" /></a>
          {% endif %}
          {% if settings.social_facebook_link != blank %}
          <a href="{{settings.social_facebook_link}}"><img src="" /></a>
          {% endif %}
        </div>
      </div>
    </div>
    <div class="footer__links">
      {% assign size = linklists.footer.links.size %}
      {% for link in linklists.footer.links %}
      <div class="footer__links-item
    {% if size > 6 %} three-col {% elsif size > 3 and size < 7 %} two-col {% else %} one-col {% endif %}
    ">
        <a href="{{link.url}}">
          {% if link.title == 'My Account' %}
          <img class="footer__horse" src="" />
          {% endif %}
          {{link.title}}
        </a>
      </div>
      {% endfor %}
    </div>
  </div>
  <div class="footer__payment">
    {%- for type in shop.enabled_payment_types -%}
    <li>
      {{ type | payment_type_svg_tag: class: 'icon' }}
    </li>
  {%- endfor -%}
  </div>
  <div class="footer__copyright">
    © 2022 Asur Equestrian Ltd
  </div>

</footer>


{% schema %}
{
"name": "footer",
"settings": [
{
"id": "cta-background-color",
"type": "color",
"label": "CTA Background Colour",
"default": "#000"
},
{
"id": "cta-border-color",
"type": "color",
"label": "CTA Border Colour",
"default": "#fff"
}, 
{ 
"id": "cta-text",
"type": "text",
"label": "CTA Text",
"default": ">"
}
]
}
{% endschema %}