{% assign opacity = section.settings.image-overlay | divided_by: 10.0 %}
{% if section.settings.text-alignment == 'left' %}
{% assign alignment = 'flex-start' %}
{% elsif section.settings.text-alignment == 'center' %}
{% assign alignment = 'center' %}
{% else %}
{% assign alignment = 'flex-end' %}
{% endif %}
<section class="grid-12 hero_2">
  <!-- Hero Slider-->
  <div class="hero__img">
    <div style="opacity: {{opacity}}; {% if section.settings.image-overlay-display == 'true' %} display: none; {% else %} display: block; {% endif %}" class="hero__img_2">
    </div>
    <div style="background-image: url('{{section.settings.image | image_url }}');" class="hero__img-inner"></div>
  </div>
  <div class="hero__text   hero__text-{{section.settings.text-position}}">
    <div style="
    width: calc(100vw - ({{section.settings.text-margin}} * 2));
    text-align: {{section.settings.text-alignment}}; align-items: {{alignment}}" class="hero__text-mw">
      <h2 style="color: {{section.settings.text-color}}">{{section.settings.heading-1}}</h2>
      <h3 style="color: {{section.settings.text-color}}">{{section.settings.heading-2}}</h3>
      <div class="hero__btn">
        {% render "swipe-btn" %}
      </div>
    </div>
  </div>
</section>

{% schema %}
{
"name": "Hero Section",
"settings": [
{
"id": "heading-1",
"type": "text",
"label": "Heading 1",
"default": "British Equestrian Wear"
},
{
"id": "heading-2",
"type": "text",
"label": "Subheading",
"default": "handmade & sustainable"
},
{
"id": "cta-text",
"type": "text",
"label": "CTA Text",
"default": "Shop Now"
},
{
"id": "cta-url",
"type": "url",
"label": "CTA Link",
"default": "/"
},
{
"id": "cta-background-color",
"type": "color",
"label": "CTA Background Colour",
"default": "#000"
},
{
"id": "cta-border-color",
"type": "color",
"label": "CTA Border Colour",
"default": "#fff"
},
{
"id": "image",
"type": "image_picker",
"label": "Image"
},
{
"id": "image-overlay",
"type": "range",
"min": 0, "max": 10,
"default": 5,
"label": "Image Overlay Opacity"
},
{
"id": "image-overlay-display",
"type": "radio",
"options": [{"value": "false"}, {"value": "true"}],
"label": "Image Overlay Hide",
"default": "false"
},
{
"id": "text-position",
"type": "radio",
"options": [{"value": "left"}, {"value": "right"}],
"label": "Text Container Position",
"default": "right"
},
{
"id": "text-color",
"type": "color",
"label": "Text Colour",
"default": "#fff"
},
{
"id": "text-alignment",
"type": "radio",
"options": [{"value": "left"}, {"value": "center"}, {"value": "right"}],
"label": "Text Alignment",
"default": "center"
},
{
"id": "text-margin",
"type": "range",
"min": 0, "max": 100,
"default": 40,
"label": "Text Container Padding"
}
]
}
{% endschema %}