<section style="padding-bottom: 0;">
    <div class="borders">
    <div class="w-full grid grid-cols-10 my-container ">
        <div class="col-span-10 md:col-span-5 info-section md:pr-8 ">
            <h1 class="pb-4 trigger-items">{{section.settings.header_text}}</h1>
            <h3 class="trigger-items">{{section.settings.info_text}}</h3>
        </div>
        <div class="col-span-10 md:col-span-5 info-image">
            <div style="background-image: url({{ section.settings.info_image | img_url: '900x500' }});"></div>
        </div>
    </div>
    <div 
    style="background-image: url('{{ 'Gradient3.jpg' | asset_url }}');" 
    class="circle circ-rotate">
      <svg viewBox="0 0 100 100" width="140" height="140">
        <defs>
          <path id="circle"
            d="
              M 50, 50
              m -37, 0
              a 37,37 0 1,1 74,0
              a 37,37 0 1,1 -74,0"/>
        </defs>
        <text font-size="14">
          <textPath xlink:href="#circle">
            Full of high quality ingredients...
          </textPath>
        </text>
      </svg>
    </div>
    </div>
    {% assign length = section.blocks.size %}
    <div class=" grid-cols-3 md:grid-cols-{{length}} grid w-full">
        {% for block in section.blocks %}
            {% assign i = forloop.index0 %}
            <div class="col-span-1 border-blue-1 tag-section {% if i == 1 or i == 2 %} 
            md:flex hidden {% else %} flex
            {% endif %}">
                {% if block.settings.value_img %}
                {% else %}
                    <!-- <img src="" /> -->
                    
                    {% if i == 0 %}
                    <i class="fab fa-pagelines "></i>
                    {% elsif i == 1 %}
                    <i class="fas fa-vial "></i>
                    {% elsif i == 2 %}
                    <i class="fas fa-paw "></i>
                    {% elsif i == 3 %}
                    <i class="fas fa-truck "></i>
                    {% elsif i == 4 %}
                    <i class="fas fa-tree  "></i>
                    {% endif %}

                {% endif %}
                <span class="icon-trig"></span>
                <h2 class="text-center text-15 px-2"> {{block.settings.value_text}} </h2>
            </div>
        {% endfor %}
    </div>
</section>

{% schema %}
{
    "name": "Info",
    "settings": [
        { 
            "id": "info_image",
            "type": "image_picker",
            "label": "Image" 
        },
        { 
            "id": "header_text",
            "type": "text",
            "label": "Header Text" 
        },
        { 
            "id": "info_text",
            "type": "text",
            "label": "Text" 
        }
    ],
    "blocks": [{
        "type": "text",
        "name": "values",
        "settings": [
            { 
                "id": "value_text",
                "type": "text",
                "label": "Value Text" 
            },
            { 
                "id": "value_img",
                "type": "image_picker",
                "label": "Value Image" 
            }
        ]
    }]
}
{% endschema %}