{% comment %}

This page represents the /collections and /products pages.
It is an optional, but highly recommended, template for your theme.

More info:
- http://docs.shopify.com/manual/configuration/store-customization/taking-control-of-collections-listing

Loop through each collection, except 'frontpage'.
{% endcomment %}

{%- assign collection_count = 0 -%}
{%- assign isEmpty = true -%}




<div class="product-header-bg"></div>


<div class="collection__grid">



  <div class="collection__grid-inner">
    <div class="collection__header">
      <a class="product__grid-link" href="/products">
        <span>
          <img src="https://cdn.shopify.com/s/files/1/0629/7888/3813/files/Vector_Smart_Object-back.png?v=1655131392" /> 
        </span>back to previous page
      </a>
      <h1>First Edition Collection</h1>
      <h2>{{section.settings.heading-2}}</h2>
    </div>

    <!-- {% if collection.all_tags.size == null %}
      {% assign all_tags = collections.all.tags %}
    {% else %}
      {% assign all_tags = collection.all_tags %}
    {% endif %} -->
    {% assign all_tags = collection.all_tags %}

    {% assign includedTag = "" %}
    {% for tag in current_tags %}
      {%assign includedTag = includedTag | append: ',' | append: tag %}
    {% endfor %}
    {% assign includedTag = includedTag | remove_first: ',' | split: ',' %}

    <div class="collection__filter">
      <div class="collection__f-left">
        <button class="filter__open br">Category</button>
        <div class="filter__options">
          {% for tag in all_tags %}
          {% if tag == 'Womens' or tag == 'womens' %}
          <div class="filter__option
          {% if includedTag contains tag %}
            filter__option--active
          {% endif %}
          " data-value="{{tag}}">
          {% if includedTag contains tag %}
            {{tag | link_to_remove_tag: tag}}
          {% else %}
            {{tag | link_to_add_tag: tag}}
          {% endif %}
          </div>
          {% endif %}
          {% endfor %}
        </div>
      </div>
      <div class="collection__f-right">
        <button class="filter__open">Garment</button>
        <div class="filter__options">
          {% for tag in all_tags %}
          {% if tag != 'Womens' and tag != 'womens' %}
          <div class="filter__option
          {% if includedTag contains tag %}
            filter__option--active
          {% endif %}
          " data-value="{{tag}}">
          {% if includedTag contains tag %}
            {{tag | link_to_remove_tag: tag}}
          {% else %}
            {{tag | link_to_add_tag: tag}}
          {% endif %}
          </div>
          {% endif %}
          {% endfor %}
        </div>
      </div>
    </div>





    <div class="collection__col-section">
      {% for product in collections.all.products %}
      <!-- pt{{product.tags}}
      cu{{current_tags}} -->
      <!-- {% assign lowercaseTagsProd = product.tags | join: ',' | downcase | split: ',' %}
      {% assign lowercaseTagsCurrent = current_tags | join: ',' | downcase | split: ',' %} -->
      {% assign included = "" %}

      {% for tag in current_tags %}
      {% if product.tags contains tag %}
      {%assign included = included | append: ',' | append: tag %}
      {% endif %}
      {% endfor %}
      {% assign included = included | remove_first: ',' | split: ',' %}

      {% if included.size == current_tags.size or current_tags == null %}
      <div class="collection__col col-{{forloop.index}}">
        <div class="first-inner inner">
          <div {% assign img=product.featured_image %} {% assign img2=product.images[1] %} {% if img %}
            style="background-image: url('{{img | image_url}}')" {% endif %} class="collection__img"></div>
          <div class="images">
            {% for image in product.images %}
            {% if forloop.index < 4 %} <div style="background-image: url('{{image | image_url}}')"
              class="collection__img-s">
          </div>
          {% endif %}
          {% endfor %}
        </div>
      </div>
      <div class="inner">
        <div class="collection__text">
          <h3><span>First edition</span></h3>
          <h4><a href="{{product.url}}">{{product.title}}</a> <em>|</em> <span>{{product.price | money}}</span></h4>
          <img src="{{ img2 | img_url }}" />
        </div>
      </div>
      <div class="line">
        <hr />
      </div>
    </div>
    {%endif %}
    {% endfor %}
  </div>

</div>

{% if paginate.pages > 1 %}{{ paginate | default_pagination }}{% endif %}
</div>
</div>

{% schema %}
{
"name": "collections",
"settings": [
{
"id": "heading-2",
"type": "text",
"label": "Heading 2"
}
]
}
{% endschema %}