<!-- /templates/product.liquid -->
{%- assign first_3d_model = product.media | where: "media_type", "model" | first -%}

<div itemscope itemtype="http://schema.org/Product" id="ProductSection--{{ section.id }}"
  data-section-id="{{ section.id }}" data-section-type="product-template"
  data-image-zoom-type="{{ section.settings.enable_image_zoom }}" data-enable-history-state="true"
  data-stacked-layout="{% if section.settings.media_layout == " stacked" %}true{% else %}false{% endif %}" {% if
  first_3d_model %}data-has-model="true" {% endif %}>

  <meta itemprop="url" content="{{ shop.url }}{{ product.url }}">
  <meta itemprop="image" content="{{ product.featured_media | img_url: 'grande' }}">

  {% assign current_variant = product.selected_or_first_available_variant %}
  {% assign featured_media = current_variant.featured_media | default: product.featured_media %}

  {% assign stacked = false %}
  {% if section.settings.media_layout == "stacked" %}{% assign stacked = true %}{% endif %}
  {%- assign first_media = true -%}

  {% assign no_stock = true %}
  {% for variant in product.variants%}
  {{variant.inventory_quantity}}
  {%if variant.inventory_quantity > 0%}
  {%assign no_stock = false%}
  {%endif%}
  {%endfor%}


  <div class="product-header-bg"></div>
  <div class="product__grid">
    <a class="product__grid-link" href="/products"><span>< </span>back to previous page </a>
    <div class="product__hero">
      <div class="product__hero-l">
        <div style="background-image: url('{{product.featured_image.src  | image_url}}');" class="product__hero-img">
        </div>
        <div class="product__hero-img-overlay">
          <div class="left" id="prod-left"><</div>
          <div class="product__hero-img-overlay-img">
            <img
            width="50%" height="100%" 
            src="{{product.featured_image.src | img_url: '600x600' }}" 
            />
          </div>
          <div class="right" id="prod-right">></div>
        </div>
        <div class="product__hero-scroller">
          <div class="product__hero-scroller-in"></div>
          <div class="triangle"></div>
        </div>
      </div>
      <div class="product__hero-r">
        <a class="product__hero-link" href="/products"><span>< </span>back to previous page </a>
        <div class="r__inner">
          <h2 class="title">{{product.title}}</h2>
          <div class="product__hero-price">
            <h3>{{product.price | money_without_trailing_zeros }}</h3>
            {% if product.price != product.compare_at_price_max %}
            <h3>{{ product.compare_at_price_max | money_without_trailing_zeros }}</h3>
            {% endif %}
          </div>

          <p class="klarna">make 3 payments of £100. No fees. <a>Learn More</a></p>
          <div class="product__hero-size">
            <p class="model"><span>model details:</span> {{ product.metafields.my_fields.model_info }}</p>
            <p class="size"><button id="size-guide">size guide +</button></p>
            <div class="size-guide-pop-overlay"></div>
            <div class="size-guide-pop">
              <div class="popup-top">
                <button id="pop-size-close">X</button>
              </div>
            </div>
          </div>
          <input type="text" value="" id="selected_variant" style="width: 1px; height: 1px; visibility:hidden;" />
          <div {% if no_stock==true %} style="border: 1px solid #616161; color: #616161;" {% endif %} id="prod-size" 
            class="{% if no_stock==true %} no-stock {%endif%}product__hero-size-btn">
            <h2 {% if no_stock == true %} style="color: #616161;" {%endif%}>Select Size</h2>
            <div id="prod-size-hide">
              <div class="prod-size-flex"> 
                {% for variant in product.variants %}
                <div class="flex-col">
                  {% if variant.inventory_quantity == 0 %}
                  <p>Out of size</p>
                  {% endif %}
                  <div class="prod-size-box" {% if variant.inventory_quantity==0 %} id="ps-no-stock" {% endif %}>
                    <hr />
                    <hr />
                    {% if variant.inventory_quantity != 0 %}
                    <div class="input-group">
                      <span style="
                    background: white;
                    box-shadow: inset 0 0 0 1px black;" class="input-group-btn {{class}}">
                        <input data-value="{{variant.inventory_quantity}}" id="{{variant.id}} variant_select"
                          value="{{variant.title}}" style="white-space:nowrap;text-transform:uppercase" type="submit"
                          class="btn__mine">
                      </span>
                    </div>

                    {% else %}
                    <span>{{variant.title}}</span>
                    {% endif %}

                  </div>
                </div>
                {% endfor %}
              </div>
            </div>
          </div>
          <div {% if no_stock==false %} id="prod-cart" {% else %} id="grey-out-bg" {% endif %}
            class="product__hero-cart-btn">
            {% if no_stock == false %}
            <div class="input-group">
              <span style="
            background: black;
            box-shadow: inset 0 0 0 1px white;" class="input-group-btn {{class}}">
                <div style="
                  background: 0 0;
                  mix-blend-mode: difference;
                  position: relative;
                  z-index: 1;
                  pointer-events: none;
                " class="btn__mine">
                  <span id="add-c">Add To Cart</span>
                  <span id="added-c">Added To Cart <img
                      src="https://cdn.shopify.com/s/files/1/0629/7888/3813/files/BAG.png?v=1652728986" /></span>
                </div>
              </span>
            </div>
            {% else %}
            <h2>Out Of Stock</h2>
            {% endif %}
          </div>

          <div class="product__hero-list">
            <div id="prod-dets" class="product__hero-list-item">
              <div><img src="" />product details</div>
              <div>+</div>
            </div>
            <div id="gar-care" class="product__hero-list-item">
              <div><img src="" />garment care</div>
              <div>+</div>
            </div>
            <div id="shipping" class="product__hero-list-item">
              <div><img src="" />shipping and returns</div>
              <div>+</div>
            </div>
          </div>
        </div>
      </div>

      <div class="product__hero-carousel">
        <div class="product-hero__carousel-flex">
          {% if product.images.size > 9 %}
          <div class="product-hero__carousel-l"><</div>
          {% endif %}
          <div class="product__hero-carousel-inner">
            {% for images in product.images %}
            <div class="product__hero-c-img">
              <div data-value="{{images | image_url}}" style="background-image: url('{{images | image_url }}')">
              </div>
            </div>
            {% endfor %}
          </div>
          {% if product.images.size > 9 %}
          <div class="product-hero__carousel-r">></div>
          {% endif %}
        </div>
        <div class="carousel-triangle-outer">
          <div class="carousel-triangle"></div>
        </div>
      </div>
    </div>
  </div>
  <div id="prod-dets-section" class="product__desc">
    <div class="desc__inner">
      <h2>Product Details</h2>
      <hr />
      <p>{{product.description}}</p>
    </div>
  </div>
  <div id="gar-care-section" class="product__gar">
    <div class="gar__inner">
      <h2>Garmet care</h2>
      <hr />
      <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
      <div class="product__garment-list">
        <div class="product__garment-item">
          <img src="" />
          <p><span>CARE NO. - </span>Lorem ipusm is the standard</p>
        </div>
        <div class="product__garment-item">
          <img src="" />
          <p><span>CARE NO. - </span>Lorem ipusm is the standard</p>
        </div>
        <div class="product__garment-item">
          <img src="" />
          <p><span>CARE NO. - </span>Lorem ipusm is the standard</p>
        </div>
      </div>
    </div>
  </div>
  <div id="shipping-section" class="">
    <div class="shipping__inner">
      <h2>Shipping & Returns</h2>
      <hr />
      <h3>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</h3>
      <div style="width: 100%;" class="grid-12 guarantees__grid">

        <div class="guarantees__item ">
          <img width="100" height="50" alt="icon image"
            src="https://cdn.shopify.com/s/files/1/0629/7888/3813/files/delivery.png?v=1652726107" />
          <h3>free UK delivery</h3>
        </div>
        <div class="guarantees__item ">
          <img width="100" height="50" alt="icon image" src="https://cdn.shopify.com/s/files/1/0629/7888/3813/files/28.png?v=1652726018" />
          <h3>28 day returns</h3>
        </div>
        <div class="guarantees__item ">
          <img width="100" height="50" alt="icon image" src="https://cdn.shopify.com/s/files/1/0629/7888/3813/files/box.png?v=1652726075" />
          <h3>luxury, ethical packaging</h3>
        </div>
        <div class="guarantees__item ">
          <img width="100" height="50" alt="icon image"
            src="https://cdn.shopify.com/s/files/1/0629/7888/3813/files/hands.png?v=1652726136" />
          <h3>courier delivery</h3>
        </div>
        <div class="guarantees__item ">
          <img width="100" height="50" alt="icon image" src="https://cdn.shopify.com/s/files/1/0629/7888/3813/files/globe.png?v=1652726093" />
          <h3>world-wide shipping</h3>
        </div>
        <div class="guarantees__item ">
          <img width="100" height="50" alt="icon image"
            src="https://cdn.shopify.com/s/files/1/0629/7888/3813/files/klarna_logo.png?v=1652726058" />
          <h3>klarna credit options</h3>
        </div>
      </div>
      <a href="/products"><span>< </span>back to previous page </a>
    </div>
  </div>


</div>
<!-- {% unless product == empty %}
<script type="application/json" id="ProductJsofn-{{ section.id }}">
    {{ product | json }}
  </script>
<script type="application/json" id="ModelJson-{{ section.id }}">
    {{ product.media | where: 'media_type', 'model' | json }}
  </script>
{% endunless %} -->



{% schema %}
{
"name": "products",

"settings": [
{
"type": "checkbox",
"id": "product_vendor_enable",
"label": {
"cs": "Zobrazit dodavatele produktu",
"da": "Vis produktleverandør",
"de": "Produktanbieter anzeigen",
"en": "Show product vendor",
"es": "Mostrar proveedor del producto",
"fi": "Näytä tuotteen myyjä",
"fr": "Afficher le distributeur du produit",
"it": "Indica fornitore prodotto",
"ja": "商品の販売元を表示する",
"ko": "제품 공급 업체 표시",
"nb": "Vis produktleverandør",
"nl": "Productleverancier weergeven",
"pl": "Pokaż dostawcę produktu",
"pt-BR": "Exiba o fabricante do produto",
"pt-PT": "Mostrar o fornecedor do produto",
"sv": "Visa produktsäljare",
"th": "แสดงผู้ขายสินค้า",
"tr": "Ürün satıcısını göster",
"vi": "Hiển thị nhà cung cấp sản phẩm",
"zh-CN": "显示产品厂商",
"zh-TW": "顯示產品廠商"
}
}
]
}
{% endschema %}